<a href="https://colab.research.google.com/github/CCS-ZCU/avarice/blob/master/scripts/GreLa_API_getting_started_passau2026_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# requirements
import requests
import pandas as pd
pd.set_option("display.max_columns", None)

## Introduction

The database is publicly available online from the following endpoint:

```bash
https://ccs-lab.zcu.cz/grela-api/api/query
```

Through the API, you can query it using the same queries as the local version.

For instance, to retrieve the first 10 rows from  the `works` table, your SQL query would be:
```
SELECT * FROM works LIMIT 10;
```

To execute the query from the command line, you could use the `curl` command, e.g.:
```bash
curl -X POST https://ccs-lab.zcu.cz/grela-api/api/query \
  -H "Content-Type: application/json" \
  -d '{"query": "SELECT * FROM works", "format": "json"}'
```



The API returns the response as a JSON object.

The query output is available as a downloadable file, which you can download using the `download_url` field in the response, which you can load directly into Python as a pandas DataFrame object.

In Python, the whole pipeline consists of several steps:

In [ ]:
# (1) define the database connection
api_url = "https://ccs-lab.zcu.cz/grela-api/api/query"
# (2) define the query, e.g. the following one to obtain all work-level metadata
query = "SELECT * FROM works"
# (3) execute the query via requests
response = requests.post(api_url, json={"query": query})
# (4) check the response - [200] indicates that everything works properly
response

In [ ]:
response.json()["download_url"]

'https://ccs-lab.zcu.cz/grela-api-out/a6885169-6269-4341-acd7-9ac5f4dab252.parquet'

In [ ]:
# (5) retrieve the download URL from the response with error checking
download_url = response.json()["download_url"]
print(download_url)

https://ccs-lab.zcu.cz/grela-api-out/a6885169-6269-4341-acd7-9ac5f4dab252.parquet

In [ ]:
# (6) load the file object into a pandas DataFrame
df = pd.read_parquet(download_url)
len(df)

11127

In [ ]:
df.head(5)

,grela_source,grela_id,author,title,not_before,not_after,date_random,provenience,place_publication,place_geonames,author_viaf,author_wd,author_gnd,title_viaf,subcorpus_specific_metadata,token_count,sentence_count
0,lagt,lagt_ggm0001.ggm001,Anonymous,Anametresis Pontou,1,400,157,None,None,None,None,None,None,None,"{""lagt_tlg_epithet"":null,""lagt_genre"":null,""no...",422,23
1,lagt,lagt_ogl0001.ogl001,Pinytus,De Epistola Pinyti ad Dionysium,101,200,174,christian,None,None,None,None,None,None,"{""lagt_tlg_epithet"":""[]"",""lagt_genre"":""[]"",""no...",81,3
2,lagt,lagt_pta0001.pta001,Severian of Gabala,De fide et lege naturae,400,409,403,None,None,None,None,None,None,None,"{""lagt_tlg_epithet"":null,""lagt_genre"":null,""no...",4495,327
3,lagt,lagt_pta0001.pta002,Severian of Gabala,De paenitentia et compunctione,400,409,406,None,None,None,None,None,None,None,"{""lagt_tlg_epithet"":null,""lagt_genre"":null,""no...",6987,539
4,lagt,lagt_pta0001.pta003,Severian of Gabala,In ascensionem domini nostri Iesu Christi et i...,400,409,406,None,None,None,None,None,None,None,"{""lagt_tlg_epithet"":null,""lagt_genre"":null,""no...",12070,1041

## Working with the `works` table

the `works` table contains all the metadata about the works in the database.

In [ ]:
# you can combain all previous steps into 2-liner, or perhaps even 1-liner, if you wish...
# and obtain the entire `works` table as a pandas DataFrame
query = "SELECT * FROM works"
df = pd.read_parquet(requests.post(api_url, json={"query": query}).json()["download_url"])

In [ ]:
# you can also select specific works, for instance, based on the date columns:
query = """
SELECT * FROM works as w
WHERE (w.not_before > 1050 AND w.not_before < 1250)
   OR (w.not_after > 1050 AND w.not_after < 1250);
"""

df = pd.read_parquet(requests.post(api_url, json={"query": query}).json()["download_url"])
df.head(5)

,grela_source,grela_id,author,title,not_before,not_after,date_random,provenience,place_publication,place_geonames,author_viaf,author_wd,author_gnd,title_viaf,subcorpus_specific_metadata,token_count,sentence_count
0,lagt,lagt_tlg2703.tlg001,Anna Comnena,Alexias,1083,1153,1094,None,None,None,111167713,Q179284,None,None,"{""lagt_tlg_epithet"":null,""lagt_genre"":null,""no...",164519,6485
1,lagt,lagt_tlg3135.tlg001,Joannes Zonaras,Epitome Historiarum,1081,1118,1102,None,None,None,None,None,None,None,"{""lagt_tlg_epithet"":null,""lagt_genre"":null,""no...",392116,17683
2,lagt,lagt_tlg3135.tlg011,Joannes Zonaras,Argumenta,1081,1118,1084,None,None,None,None,None,None,None,"{""lagt_tlg_epithet"":null,""lagt_genre"":null,""no...",27443,2607
3,lagt,lagt_tlg3135.tlg012,Joannes Zonaras,Chronologia,1081,1118,1096,None,None,None,18151776766218010762,Q32052,None,None,"{""lagt_tlg_epithet"":null,""lagt_genre"":null,""no...",1133,22
4,lagt,lagt_tlg4026.tlg001,Anonymi in Aristotelis Artem Rhetoricam,In Aristotelis artem rhetoricam commentarium,601,1200,891,None,None,None,None,None,None,None,"{""lagt_tlg_epithet"":null,""lagt_genre"":null,""no...",108762,5147

In [ ]:

df = df[df["grela_source"]=="cc"]

In [ ]:
len(df)

1590

In [ ]:
df["token_count"].sum()

np.int64(83517461)

## Working with the `sentences` table

In [ ]:
# extract a subset of sentences with work level metadata, select on specific date
query = """
        SELECT s.grela_id,
               s.sentence_id,
               s.sent_text,
               w.*
        FROM sentences s
                 JOIN works w ON s.grela_id = w.grela_id
        WHERE (w.not_before > 1050 AND w.not_before < 1100) OR (w.not_after > 1050 AND w.not_after < 1100);
        """

sentences_1050_1100 = pd.read_parquet(requests.post(api_url, json={"query": query}).json()["download_url"])

In [ ]:
len(sentences_1050_1100)

1301269

In [ ]:
text = " ".join(sentences_1050_1100["sent_text"].tolist())
text[:10000]

"Praefatio #editionis Bituricensis anni@# 1690. Les Assises de Hierusalem sont les loix, statuts, usages et coutumes accordees au royaume de Hierusalem par Godefroy duc de Buillon l' an 1099, par l' auis du patriarche et de ses barons, apres qu' il en eut ete elu roy. Elles sont appellees Assises, parce qu' elles furent faites en l' assise ou assemblee des grands du royaume, de meme que la celebre ordonnance de Godefroy comte de Bretagne et de ses barons de l' an 1185, pour le partage noble, est appellee l' Assise du comte Godefroy. Et chez Houeden: #assisae Henrici regis factae apud Clarendonum@# dans le #regiam majestatem@# lib. Iii., c. 27, SS 2., #ex beneficio Constitutionis regni, quae Assisa nominatur.@# L' assise du roy Bauduin ch. 117. L' assise du roy Amaury ch. 273. Assise du roy Amaury et du roy Bauduin son fils. Ass. ch. 288. Assise du roy Hugues ch. 309. Spelman. f. 53. #in uerbo@# Assisia. Ces Assises furent ecrites par l' ordre de Godefroy de Buillon, et scellees de son sceau, de ceux du patriarche et du uicomte de Hierusalem. Elles furent appellees les Lettres du Sepulchre, parce qu' elles etoient gardees en un cofre, dans l' eglise du Sepulchre, d' ou elles etoient tirees en la presence du roy, ou de celuy qui etait par luy commis, du patriarche, ou en son absence du prieur du Sepulchre, de deux chanoines et du uicomte, lorsqu' il y auoit debat sur quelque article de ces coutumes. Mais, comme elles auaient ete corrigees et augmentees a diuerses fois par Godefroy et ses successeurs rois de Hierusalem, elles furent redigees par ecrit et mises en ordre par Jean d' Ibelin, comte de Japhe et d' Ascalon, seigneur de Baruth et de Rames, uers l' an 1250. Il etoit fils de Balian d' Ibelin et d' Eschiue de Montbeliard, et il mourut l' an 1266. Elles furent une seconde fois reuues le 3 nouembre 1369, apres la mort de Pierre de Lusignan roy de Chipre, par l' ordonnance de Jean de Lusignan prince d' Antioche, baillistre de Pierre de Lusignan roy de Chipre son neueu, par seize hommes nommez et choisis en l' Assemblee des etats du royaume, et apres elles furent mises au tresor de l' eglise de Nicossie, dans un cofre scelle de quatre sceaux. J' en ai recouure par le moyen de M. d' Herouual un exemplaire en la bibliotheque de feu M. Brodeau, transcrit sur le manuscrit de la bibliotheque Uaticane, et un autre dans celle de M. Colbert; les Assises ont ete traduites en Italien, et imprimees a Uenise en l' an 1543. Rhamnusio dit que Baudouin I, empereur de Constantinople les fit apporter de Jerusalem pour les faire obseruer dans l' Empire, et pour regler les seruices de fiefs et des uassaux. Il est certain qu' elles ont ete tirees des coutumes et usages de la France, comme le justifient les chapitres 294 et 295 et #willelm. Tyrius@# lib. Xui, ch. 2, et lib. Xix, ch. 2. Les Assises en Italien sont diuisees en deux parties, la premiere intitulee l' #alta Corte. Le Assise et bonne usanze del Reame de Hierusalem.@# La seconde partie. #la Bassa Corte. Le Assise et bonne usance del Reame de Hierusalem.@# La table des chapitres commence par ces termes. #queste sono le Rubriche del libro de le Assise de l' Alta Corte del Reame de Hierusalem in pladeante, id est in forma de litigio, composto per il Bon Joanne de Ibelin conte del Zaffo, et Ascalona et signor de Rames,@# auant le ch. 163. qui repond au ch. 147 de nos Assises, #ques est l' Assise quand on aliene tout son fie ou partie, autrement que par l' Assise,@# il y a ce titre, #di feudi.@# A la fin de la premiere partie il est dit, #li Assise de l' Alta Corte del Regno de Hierusalem, et Cypro, traduite de Francese in Lingua italiana, d' ordine de la Serenissima Ducal Seignoria de Uenetta, per me Florio Bustron Cosi Commandato de la Clarissimi Seignori Rectori di questo Regno de Cypro, Como Nodaro de li magnifici deputati a la ditta Traductione.@# Il est dit a la fin que l' impression fut acheuee au mois de mars 1535. Le P. Labbe, jesuite, dans son #abrege Royal de l' Alliance Chronologique de l' histoire sacree et profane,@# imprime a Paris en 1651, pag. 560, a marque la difference qui est entre les Assises en francois, et la uersion italienne. Le meme a tire les trente tableaux genealogiques qu' il donne dans le meme liure depuis la page 351 jusques a la 420 du lignage d' Outremer qui fait partie de ces Assises, et il a fait imprimer le lignage d' Outremer depuis la page 422 jusques a la 461, et le commencement de ces Assises depuis le chap. 1. jusques au 8, et la table des chapitres depuis le chap. 9. jusques au 281, et il finit la premiere partie au chap. 281. Et commence la seconde au chap. 282 qu' il fait le premier de la seconde partie, qu' il finit au cinquantieme chapitre, et commence le second liure de ces Assises par le chap. 282. << Come doit estre le seignor et gouuerneor dou pais et dou peuple, >> jusques au ch. 308, << Comment messire Hugues de Lusignan a requis le royaume de Chypre a messire Guy de Ibelin, >> etc. Il obmet les quatre chapitres suiuans, et donne ensuite les chapitres suiuans, concernans les seruices du royaume de Jerusalem jusques au chap. 330, << Des aydes que les eglises et les bourgeois doiuent, >> etc. par ou il finit le second liure des Assises. Mais, parce que je n' ai pas trouue cette distinction dans les manuscrits qui m' ont ete communiques, je me suis contente de cotter et nombrer les chapitres dans l' ordre que je les ai trouuez, sans rien changer. Le P. Labbe a aussi imprime le liure des Lignages d' Outremer qui consiste en trente chapitres, qui sont a la fin des Assises dans le manuscrit que j' ay suiui. Uoici l' ordre que garde l' autheur de ces Assises. Les 81 premiers chapitres regardent la procedure. Les chapitres 82 et suiuans, jusques au 112, traitent des apeaux, gages de bataille, et duels. Les chapitres 113 et suiuans, jusques au 137, des Assises de differentes matieres. Les chapitres 138 et suiuans, jusques au chapitre 175, de la matiere des fiefs. Les chapitres 176 jusques au 181, des baux et gardes. Dans les chapitres 182 et suiuans jusques au 274, il reprend les matieres feodales, et specialement des seruices dus par les uassaux en guerre, en justice et en mariage. Le chapitre 275 et suiuans, jusques au 281, contiennent les assises de differentes matieres. Le chapitre 282 et suiuans, jusques au 292, parlent des droits du roy et des grands officiers de la couronne. Les chapitres 293 et suiuans, jusques au 308, concernent les differens pour le bailliage et succession du royaume, entre Hugues de Lusignan et le comte de Braine, et Marie de Beaumont. Les chapitres 309 et suiuans, jusques au 313, contiennent les ordonnances et assises nouuelles. Les chapitres 314 et suiuans, jusques au 330 et dernier, parlent des seruices dus au roy par les eueques, grands du royaume, nobles et communautez. Monsieur Du Cange fait mention de ces Assises en sa preface sur les Etablissemens de S. Louis, ou il dit qu' il en a lu le manuscrit dans un des uolumes des Memoires de M. de Peiresc, copie sur celui du Uatican, d' ou la pluspart des copies qui sont dans les bibliotheques de Paris ont ete tirees. Il dit au meme lieu qu' il ne desespere pas qu' il ne se recontre, auec le temps, quelque personne assez curieuse, pour donner ces Assises et autres anciennes coutumes au public, et pour entreprendre un trauail si glorieux et si utile au public, et a ceux qui font profession de la jurisprudence francaise, il en rapporte plusieurs passages dans son docte Glossaire, et dans ses notes sur les Etablissemens de S. Louis. Chopin les a citez en sa Coutume d' Anjou, et M. Julien Brodeau sur le titre de Retrait Lignager de la Coutume de Paris, et autres lieux de ses ouurages. Je souhaiterais que ces doctes et scauans auteurs eussent pris le soin de les faire imprimer auec leurs notes et obseruations, mais comme leurs grandes occupations ne leur ont pas permis de le faire, j' ay cru que je ferois plaisir aux curieux, et a tous ceux qui aiment les origines de notre jurisprudence francoise, en les faisant imprimer auec mes notes et obseruations. Cela seruira peut-etre a exciter quelque autre a donner au public les autres anciens docteurs et praticiens francois qui n' ont pas jusques a present ete imprimez, et qui meritent de l' etre. Assises De Jerusalem. I. Rubricae. 1. Ci comance les rubrices du liure des assises et des bons usages dou royaume de Jerusalem, qui furent etablies et mises en escrit par le duc Godefroy de Buillon, lequel fu ehleu a roy et a seignor doudit royaume, et par le conseil des autres roys, princes et barons, que aprez le duc Godefroy furent, et par l' ordenement dou patriarche de Jerusalem. 2. Ci dit coment le duc Godefroy establi deus cours seculieres, l' une ci est la haute court de que il fu gouernor et justicier, et l' autre ci est la court des borges, laquelle est appellee la court dou uisconte. 3. Ci dit coment les assises et les usages doudit royaume de Jerusalem furent par plusiors fois amendees par le duc Godefroy, et par les autres roys et seignors que aprez luy furent. 4. Ci dit coment le peuple des Suriens uint deuant le roy dou royaume de Jerusalem, et luy prierent et requistrent que il fussent menes par l' usage des Suriens. 5. Ci dit coment le seignor dou royaume de Jerusalem, et les barons qui ont coins, court et justice, doiuent sauoir les assises et usages doudit royaume. 6. Ci dit coment et quel doit etre le chief seignor dou royaume de Jerusalem soit roy ou autre, et tous les barons et seignors doudit royaume, qui ont court, et coins, et justice. 7. Ci dit de quel maniere doit estre le pleideoir. 8. Ci deuise coment et dequoy, et pourquoy l' on doit demander conseil de court. 9. Qui demande conseil de court, quel il doit demander a son conseil. 10. Coment l' on doit demander conseil, si que celui que l' on demandera a conseil ne puissede celle querele conseiller son auersaire. 11. Pourquoi l' on peut demander conseil de court par esgard. 12. Pourquoi l' on peut demander conseil de court sans esgard. 13. A' qui "

In [ ]:

sentences_1050_1100.head(10)

,grela_id,sentence_id,sent_text,grela_source,grela_id_1,author,title,not_before,not_after,date_random,provenience,place_publication,place_geonames,author_viaf,author_wd,author_gnd,title_viaf,subcorpus_specific_metadata,token_count,sentence_count
0,cc_10532,cc_10532_0,Praefatio #editionis Bituricensis anni@# 1690.,cc,cc_10532,Godefridus Bullonius,Assises de Jerusalem,1080,1080,1080,None,None,None,13555210,,None,None,"{""lagt_tlg_epithet"":null,""lagt_genre"":null,""no...",19074,542
1,cc_10532,cc_10532_1,"Les Assises de Hierusalem sont les loix, statu...",cc,cc_10532,Godefridus Bullonius,Assises de Jerusalem,1080,1080,1080,None,None,None,13555210,,None,None,"{""lagt_tlg_epithet"":null,""lagt_genre"":null,""no...",19074,542
2,cc_10532,cc_10532_2,"Elles sont appellees Assises, parce qu' elles ...",cc,cc_10532,Godefridus Bullonius,Assises de Jerusalem,1080,1080,1080,None,None,None,13555210,,None,None,"{""lagt_tlg_epithet"":null,""lagt_genre"":null,""no...",19074,542
3,cc_10532,cc_10532_3,Et chez Houeden:,cc,cc_10532,Godefridus Bullonius,Assises de Jerusalem,1080,1080,1080,None,None,None,13555210,,None,None,"{""lagt_tlg_epithet"":null,""lagt_genre"":null,""no...",19074,542
4,cc_10532,cc_10532_4,#assisae Henrici regis factae apud Clarendonum...,cc,cc_10532,Godefridus Bullonius,Assises de Jerusalem,1080,1080,1080,None,None,None,13555210,,None,None,"{""lagt_tlg_epithet"":null,""lagt_genre"":null,""no...",19074,542
5,cc_10532,cc_10532_5,"Iii., c. 27, SS 2., #ex beneficio Constitution...",cc,cc_10532,Godefridus Bullonius,Assises de Jerusalem,1080,1080,1080,None,None,None,13555210,,None,None,"{""lagt_tlg_epithet"":null,""lagt_genre"":null,""no...",19074,542
6,cc_10532,cc_10532_6,Assise du roy Amaury et du roy Bauduin son fils.,cc,cc_10532,Godefridus Bullonius,Assises de Jerusalem,1080,1080,1080,None,None,None,13555210,,None,None,"{""lagt_tlg_epithet"":null,""lagt_genre"":null,""no...",19074,542
7,cc_10532,cc_10532_7,Ass.,cc,cc_10532,Godefridus Bullonius,Assises de Jerusalem,1080,1080,1080,None,None,None,13555210,,None,None,"{""lagt_tlg_epithet"":null,""lagt_genre"":null,""no...",19074,542
8,cc_10532,cc_10532_8,ch. 288.,cc,cc_10532,Godefridus Bullonius,Assises de Jerusalem,1080,1080,1080,None,None,None,13555210,,None,None,"{""lagt_tlg_epithet"":null,""lagt_genre"":null,""no...",19074,542
9,cc_10532,cc_10532_9,Assise du roy Hugues ch. 309.,cc,cc_10532,Godefridus Bullonius,Assises de Jerusalem,1080,1080,1080,None,None,None,13555210,,None,None,"{""lagt_tlg_epithet"":null,""lagt_genre"":null,""no...",19074,542

In [ ]:
# Extract token data from all sentences containing the lemma "liber" with the POS tag "NOUN"
# include also the morphological data for each token within the sentence

query = """
WITH target_matches AS (
    SELECT sentence_id
    FROM tokens t
    WHERE t.lemma = 'auaritia' AND t.pos IN ('NOUN')
)

SELECT
    sentence_id,
    LIST(
        STRUCT_PACK(
            token_id    := token_id,
            token_text  := token_text,
            lemma       := lemma,
            pos         := pos,
            char_start  := char_start,
            char_end    := char_end,
            sentence_id := sentence_id
        )
        ORDER BY token_id
    ) AS tokens
FROM tokens
WHERE sentence_id IN (SELECT DISTINCT sentence_id FROM target_matches)
GROUP BY sentence_id;
"""

target_sentences_token_data  = pd.read_parquet(requests.post(api_url, json={"query": query}).json()["download_url"])
target_sentences_token_data.head(5)

      sentence_id                                             tokens
0  cc_13981_11503  [{'char_end': 3, 'char_start': 0, 'lemma': 'it...
1  cc_13981_13314  [{'char_end': 4, 'char_start': 0, 'lemma': 'nu...
2    cc_13099_148  [{'char_end': 9, 'char_start': 0, 'lemma': 'ar...
3    cc_15571_568  [{'char_end': 10, 'char_start': 0, 'lemma': 'l...
4    cc_20328_209  [{'char_end': 2, 'char_start': 0, 'lemma': 'si...

In [ ]:
len(target_sentences_token_data)

16477

In [ ]:
[t["lemma"] for t in target_sentences_token_data["tokens"].tolist()[0] if t["pos"] in ["NOUN", "VERB", "ADJ"]]

['lupa',
 'uir',
 'omnis',
 'bonus',
 '-',
 'mitto',
 'exilium',
 'dico',
 'prudentia',
 'auaritia',
 'ostendeo',
 'magnus',
 'pecunia',
 'salus',
 'pecunia',
 'plus',
 'facio',
 'conuenio']

### Working with the `tokens` table

We can get all tokens data based on a specific work attribute, e.g. author name pattern

In the example below, we select all tokens belonging to works by Plato.

The tokens are in the order as they appear in the text, so you use this output to compile the text.

You can also filter the tokens based on their POS tags, e.g. nouns, adjectives, etc.

We also keep track of the `sentence_id`, so you can at any time retrieve the raw text of the sentence text from the `sentences` table.

In [ ]:
query = """
    SELECT t.*, w.*
    FROM tokens t
    JOIN works w ON t.grela_id = w.grela_id
    WHERE w.author LIKE 'Plato'
"""

plato_tokens = pd.read_parquet(requests.post(api_url, json={"query": query}).json()["download_url"])
len(plato_tokens)

1056570

You can also retrieve the token data for a subset of works, like for all Christian works from the first three centuries

In [ ]:
### all token data from sentences with lagt_provenience "christian" and "not_ and not_after intersecting the first three centuries

query = """
SELECT
    t.sentence_id,
    w.author,
    w.title,
    w.not_before,
    w.not_after,
    LIST(
        STRUCT_PACK(
            token_id    := t.token_id,
            token_text  := t.token_text,
            lemma       := t.lemma,
            pos         := t.pos,
            char_start  := t.char_start,
            char_end    := t.char_end,
            sentence_id := t.sentence_id
        )
        ORDER BY t.token_id
    ) AS tokens
FROM tokens t
JOIN works w ON t.grela_id = w.grela_id
WHERE w.provenience = 'christian'
  AND w.not_before >= 0 AND w.not_before < 300
  AND w.not_after  >= 0 AND w.not_after  < 300
GROUP BY t.sentence_id, w.author, w.title, w.not_before, w.not_after
"""

EC_sentence_tokens = pd.read_parquet(requests.post(api_url, json={"query": query}).json()["download_url"])
len(EC_sentence_tokens)

122638

From this output you can easily get to the data format we used previously in the LAGT dataset and elsewhere for training distributional semantic models.

In [ ]:
EC_sentence_tokens["lemmatized_sentence"] = EC_sentence_tokens["tokens"].apply(lambda x: [t["lemma"] for t in x if t["pos"] in ["NOUN", "VERB", "ADJ", "PROPN"]])
EC_sentence_tokens["lemmatized_sentence"].tolist()[:10]

[['', ''],
 ['', ''],
 ['', '', '', '', ''],
 ['',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['', '', ''],
 [''],
 ['', ''],
 ['', '', '', ''],
 ['',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['', '']]

## Combined context query

You can ultimately run very complex queries using the API.

In the example below, we retrieve the contextual data for all tokens matching the lemma "mercurius" with the POS tag "NOUN".

For each token, we retrieve:
- (1) the raw sentence in which the (lemmatized) token appears (`semtence_tokens`),
- (2) the token data from the sentence in which the token appears (`sentence_tokens`),
- (3) a broader context, including also 1 raw sentence before and 1 raw sentence after the target token (`context_3sents`)
- (4) concordance from the 10 tokens preceding and 10 tokens following the target token (i.e. 10+1+10 tokens) (`concordance_tokens`).

All these co-occurrence data are then returned within a single table and can be used for different kinds of co-occurrence and semantic analyses.

In [ ]:


def get_grouped_token_data_with_metadata_api(api_url: str, lemma: str, pos_tags: list) -> pd.DataFrame:
    """
    API version of grouped token query with context and metadata.
    """
    pos_placeholder = ", ".join(f"'{tag}'" for tag in pos_tags)
    lemma_literal = lemma.replace("'", "''")  # SQL-safe single quotes

    query = f"""
    WITH target_matches AS (
        SELECT
            t.sentence_id,
            t.grela_id,
            s.position AS sentence_position,
            t.token_id AS target_token_id,
            t.char_start AS target_char_start,
            t.char_end AS target_char_end
        FROM tokens t
        JOIN sentences s USING (sentence_id)
        WHERE t.lemma = '{lemma_literal}'
        AND t.pos IN ({pos_placeholder})
    ),

    context_3sents AS (
        SELECT
            tm.sentence_id,
            STRING_AGG(s.sent_text, ' | ' ORDER BY s.position) AS context_3sents
        FROM target_matches tm
        JOIN sentences s
          ON s.grela_id = tm.grela_id
         AND s.position BETWEEN tm.sentence_position - 1
                            AND tm.sentence_position + 1
        GROUP BY tm.sentence_id
    ),

    sentence_tokens AS (
        SELECT
            sentence_id,
            LIST(
              STRUCT_PACK(
                 token_id := token_id,
                 token_text := token_text,
                 lemma := lemma,
                 pos := pos,
                 char_start := char_start,
                 char_end := char_end,
                 sentence_id := sentence_id
              )
              ORDER BY token_id
            ) AS tokens
        FROM tokens
        WHERE sentence_id IN (SELECT DISTINCT sentence_id FROM target_matches)
        GROUP BY sentence_id
    ),

    concordance_tokens AS (
        SELECT
            tm.sentence_id,
            tm.target_token_id,
            LIST(
              STRUCT_PACK(
                 token_id := ct.token_id,
                 token_text := ct.token_text,
                 lemma := ct.lemma,
                 pos := ct.pos,
                 char_start := ct.char_start,
                 char_end := ct.char_end,
                 sentence_id := ct.sentence_id
              )
              ORDER BY ct.token_id
            ) AS concordance_tokens
        FROM target_matches tm
        JOIN tokens ct
          ON ct.grela_id = tm.grela_id
         AND ct.token_id BETWEEN tm.target_token_id - 10
                            AND tm.target_token_id + 10
        GROUP BY tm.sentence_id, tm.target_token_id
    )

    SELECT
        w.author,
        w.title,
        tm.grela_id,
        tm.sentence_id,
        s.sent_text AS sentence_text,
        c3.context_3sents,
        st.tokens,
        ct.concordance_tokens,
        w.not_before,
        w.not_after,
        w.date_random,
        tm.target_token_id,
        tm.target_char_start,
        tm.target_char_end
    FROM target_matches tm
    JOIN sentences s USING (sentence_id)
    JOIN works w ON w.grela_id = tm.grela_id
    LEFT JOIN context_3sents c3 USING (sentence_id)
    LEFT JOIN sentence_tokens st USING (sentence_id)
    LEFT JOIN concordance_tokens ct
           ON ct.sentence_id = tm.sentence_id
          AND ct.target_token_id = tm.target_token_id
    ORDER BY tm.sentence_id, tm.target_token_id;
    """

    # Send query to the API
    response = requests.post(api_url, json={"query": query})
    response.raise_for_status()

    # Load the result
    download_url = response.json()["download_url"]
    return pd.read_parquet(download_url)

In [ ]:
# Example usage
term_contextual_data = get_grouped_token_data_with_metadata_api(
    api_url="https://ccs-lab.zcu.cz/grela-api/api/query",
    lemma="auaritia",
    pos_tags=["NOUN"])

HTTPError: 500 Server Error: INTERNAL SERVER ERROR for url: https://ccs-lab.zcu.cz/grela-api/api/query

In [ ]:
term_contextual_data

,author,title,grela_id,sentence_id,sentence_text,context_3sents,tokens,concordance_tokens,not_before,not_after,date_random,target_token_id,target_char_start,target_char_end
0,"Van Helmont, Jan Baptist",Ortus medicinae,emlap_100100,emlap_100100_5113,"signum est haec mala prouenire ex sordibus, in...",non autem tremuisset terra. | signum est haec ...,"[{'char_end': 6, 'char_start': 0, 'lemma': 'si...","[{'char_end': 15, 'char_start': 11, 'lemma': '...",1648,1648,1648,259455820,69,77
1,"Helmont, Jan Baptista van","Ortus medicinae, id est, initia physicae inaud...",noscemus_688159,noscemus_688159_5678,"signum est haec mala prouenire ex sordibus, in...","Quae si contingant cum ortu haeresiarcharum, s...","[{'char_end': 6, 'char_start': 0, 'lemma': 'si...","[{'char_end': 15, 'char_start': 11, 'lemma': '...",1648,1648,1648,304615824,69,77
2,"Helmont, Jan Baptista van","Ortus medicinae, id est, initia physicae inaud...",noscemus_688159,noscemus_688159_6536,"signum est haec mala prouenire ex sordibus, in...","Quae si contingant cum ortu haeressarcharum, s...","[{'char_end': 6, 'char_start': 0, 'lemma': 'si...","[{'char_end': 15, 'char_start': 11, 'lemma': '...",1648,1648,1648,304629455,69,77

In [ ]:
# Example usage
labyrinthus_contextual_data = get_grouped_token_data_with_metadata_api(
    api_url="https://ccs-lab.zcu.cz/grela-api/api/query",
    lemma="",
    pos_tags=["NOUN", "PROPN", "ADJ"])

In [ ]:
labyrinthus_contextual_data#%%

,author,title,grela_id,sentence_id,sentence_text,context_3sents,tokens,concordance_tokens,not_before,not_after,date_random,target_token_id,target_char_start,target_char_end
0,Theocritus,,lagt_tlg0005.tlg001,lagt_tlg0005.tlg001_1181,...,", ...","[{'char_end': 6, 'char_start': 0, 'lemma': '...","[{'char_end': 89, 'char_start': 80, 'lemma': '...",-299,-259,-268,1545279,142,152
1,Plutarch,,lagt_tlg0007.tlg001,lagt_tlg0007.tlg001_134,", ...",. | ...,"[{'char_end': 4, 'char_start': 0, 'lemma': '...","[{'char_end': 98, 'char_start': 88, 'lemma': '...",96,116,97,34937189,141,151
2,Herodotus,,lagt_tlg0016.tlg001,lagt_tlg0016.tlg001_2625,", ...",. | ...,"[{'char_end': 3, 'char_start': 0, 'lemma': '...","[{'char_end': 10, 'char_start': 7, 'lemma': '...",-429,-424,-424,32769902,67,77
3,Herodotus,,lagt_tlg0016.tlg001,lagt_tlg0016.tlg001_2627,...,. | ...,"[{'char_end': 2, 'char_start': 0, 'lemma': '...","[{'char_end': 67, 'char_start': 66, 'lemma': '...",-429,-424,-424,32769947,119,129
4,Herodotus,,lagt_tlg0016.tlg001,lagt_tlg0016.tlg001_2629,", ...",...,"[{'char_end': 4, 'char_start': 0, 'lemma': '...","[{'char_end': 69, 'char_start': 63, 'lemma': '...",-429,-424,-424,32769986,115,125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Scholia in Lucianum,Scholia in Lucianum,lagt_tlg5029.tlg001,lagt_tlg5029.tlg001_4642,.,", ...","[{'char_end': 2, 'char_start': 1, 'lemma': '...","[{'char_end': 127, 'char_start': 120, 'lemma':...",301,400,336,14064091,3,13
96,Scholia in Lucianum,Scholia in Lucianum,lagt_tlg5029.tlg001,lagt_tlg5029.tlg001_601,,. | ...,"[{'char_end': 11, 'char_start': 1, 'lemma': '...","[{'char_end': 51, 'char_start': 45, 'lemma': '...",301,400,336,14017088,1,11
97,Scholia in Lucianum,Scholia in Lucianum,lagt_tlg5029.tlg001,lagt_tlg5029.tlg001_602,", ...",| ...,"[{'char_end': 3, 'char_start': 0, 'lemma': '...","[{'char_end': 8, 'char_start': 4, 'lemma': '...",301,400,336,14017104,57,67
98,Scholia in Pindarum,Scholia in Pindarum Nemean Odes,lagt_tlg5034.tlg001c,lagt_tlg5034.tlg001c_1609,...,", ...","[{'char_end': 5, 'char_start': 0, 'lemma': '...","[{'char_end': 52, 'char_start': 50, 'lemma': '...",-322,-30,-76,24587650,16,25
99,Suda,Suidae lexicon,lagt_tlg9010.tlg001,lagt_tlg9010.tlg001_48848,:,. | : | ...,"[{'char_end': 11, 'char_start': 1, 'lemma': '...","[{'char_end': 11, 'char_start': 0, 'lemma': '...",969,976,973,32416511,1,11